body{
    background-color: aqua;
}
input{
    border:none;
    color:black;
    border-radius: 4px;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    justify-content: center;
}
label{
    margin: 20px;
    padding: 5px;
    width: 200px;
    display: inline-block;
    text-align: justify;
}
.text{
    width: 100%;
 height: 100px;
 margin: auto;
 padding: 10px 0px 10px 0px;
 text-align: center;
 border-radius: 15px 15px 0px 0px;
 resize:none;
}
.menu-nav{display: flex;
flex-direction: row;
justify-content:space-around;
font-size: 20px;

}
.logo img{
    width: 100px;
}
.lien{
    margin-left: 550px;
    position: absolute;top: 20px;
    font-size: 30px;
}
a:hover{
    
    background-color: black;
}
a{
    text-decoration: none;
}
.fb{
    width: 55px;
    height: 55px;
    position: relative;left:450px ;
    bottom: -100px;
    border-radius: 20px;

}
.fb:hover{
background-color: blue;
}
.tw{

    width: 50px;
    height: 50px;
    position: relative;left:500px ;
    bottom: -100px;
    border-radius: 20px;
}
.tw:hover{
background-color: blue;
}

.insta{
    width: 50px;
    height: 50px;
    position: relative;left:550px ;
    bottom: -100px;
    border-radius: 20px;
}
.insta:hover{
}
.cadre{
    border:solid 4px black;
    height: 694px;
    WIDTH: 670PX;
    MARGIN-LEFT: AUTO;
    MARGIN-RIGHT: auto;
}
.lien{
    margin-left: 550px;
    position: absolute;top: 20px;
    font-size: 30px;
}
a:hover{
    
    background-color: black;
}
a{
    text-decoration: none;
}